.body{
    background-color: rgb(247, 250, 252)
}

.check{
    color:rgb(22, 216, 22);
}
















@media only screen and (max-width:600px) {
    h1{
        text-align: center;
    }
    .text-mobile{
        text-align: center;
        width:94%;
    }

    .image-mobile{
        margin-right:190px;
        width:41%;
        
    }
}

@media only screen and (min-width:700px) and (max-width: 1000px){
    .image-mobile{
        margin-right:200px;
        width:41%;
        
    }
}