body{
 background-color:    rgb(247, 250, 252);
}

.p1{
   color :#0d6efd;
}

.heading{
    text-align: center;
}


.div-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.align{
    padding:15px;
}

.p2{
    text-align: center;
}